body{
    background: white
    /* background: darkgrey; */
}
.info{
    background:white;
    text-align: right;
}
.home{
    color: black;
}
.cont{
    color:black;
    }
.us{
    color:black;
}
.headings{
    text-align: center;
}
.para 1{
    font-family: 'Alkatra', cursive;;
}